In [1]:
import sys
# # insert at 1
# sys.path.insert(1, '/data/shared/src/arojas/tools/pythonUtilities')
import neonutilities as nu
import geopandas as gpd
import pandas as pd

from pyproj import CRS
import glob
import subprocess
from osgeo import gdal, ogr
import os
import rioxarray
import xarray as xr
import laspy
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter

['./whitebox_tools', '-v=false']
['./whitebox_tools', '-v=false']

In [2]:
# Read in neon tower polys
neon_tower_polys = gpd.read_file("../data/raw/All_NEON_TOS_Plots_V8/All_NEON_TOS_Plot_Polygons_V8.shp")

In [3]:
neon_tower_polys.columns

Index(['plotID', 'pointID', 'country', 'state', 'county', 'domain', 'domainID',
       'siteName', 'siteID', 'plotType', 'subtype', 'subSpec', 'plotSize',
       'plotDim', 'latitude', 'longitude', 'datum', 'utmZone', 'easting',
       'northing', 'horzUncert', 'elevation', 'vertUncert', 'minElev',
       'maxElev', 'slope', 'aspect', 'nlcdClass', 'soilOrder', 'coordSrc',
       'date', 'gpsLogs', 'plotPdop', 'plotHdop', 'appMods', 'plotEdge',
       'geometry'],
      dtype='object')

In [4]:
neon_tower_polys.loc[neon_tower_polys['plotType']=="tower"][['plotID', 'pointID',"plotType",'subtype']]

        plotID pointID plotType    subtype
30    ABBY_067      41    tower   basePlot
31    ABBY_062      41    tower   basePlot
32    ABBY_063      41    tower   basePlot
33    ABBY_068      41    tower   basePlot
34    ABBY_069      41    tower   basePlot
...        ...     ...      ...        ...
3805  YELL_062      41    tower   basePlot
3806  YELL_051      41    tower   basePlot
3807  YELL_050      41    tower   basePlot
3808  YELL_064       C    tower  phenology
3809  YELL_063       C    tower  phenology

[1164 rows x 4 columns]

In [5]:
neon_tower_polys['plotType'].unique()

array(['distributed', 'tower'], dtype=object)

In [ ]:
+